@use 'base';

/* Global */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

:target {
    scroll-margin-top: 80px;
}

html {
    background-color: base.$bg-primary;
    color: base.$text-primary;
    scroll-behavior: smooth;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: base.$primary-dark;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
}

header {
    h1, h2 {
        color: base.$text-primary-light;
        margin: 5px 0 5px 10px;
        display: inline-block;
    }
}

header a {
    color: white;
    text-decoration: none;
}

#home-link {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

header ul {
    display: inline-block;
}

header li {
    display: inline-block;
}


/* Page */
#page {
    margin-top: 70px;
    min-height: calc(90vh - 50px);
    display: grid;
    grid-template-columns: 1fr [site-nav] 1fr 20px [main] 4fr 20px [page-nav] 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    #page {
        margin-top: 70px;
        min-height: calc(90vh - 50px);
        display: block;
    }
}

@media only screen and (max-width: 1300px) {
    #page {
        margin-top: 70px;
        min-height: calc(90vh - 50px);
        display: grid;
        grid-template-columns: [site-nav] 1fr 20px [main] 4fr 20px [page-nav] 1fr;
    }
}


/* Site Sidebar */
#site-nav .current {
    background-color: base.$primary-ultradark;
}

#site-nav a {
    text-decoration: none;
    color: #71b2da;
}

#site-nav div:hover {
    transition: .25s;
}

#site-nav div:hover {
    background-color: base.$primary-ultradark-ohalf;
    transition: .25s;
}

#site-nav {
    position: sticky;
    top: 8%;
    overflow: auto;
    height: fit-content;
    max-height: 90vh;
    grid-column-start: site-nav;
}

#site-nav ul {
    list-style-type: none;
}


/* Page Sidebar */
#page-nav {
    position: sticky;
    top: 8%;
    overflow: auto;
    height: fit-content;
    max-height: 90vh;
    grid-column-start: page-nav;
}

#page-nav ol {
    margin-left: -20px;
    margin-top: 5px;
}

#page-nav li {
    color: #aaa;
    margin-bottom: 5px;
}

#page-nav a {
    color: #eee;
    text-decoration: none;
}

#page-nav a:hover {
    color: #fff;
}

#page-nav h4 {
    border-bottom: 1px solid #555;
}

/* Main */
main p {
    font-size: 18px;
}

main {
    grid-column-start: main;
}

main {
    h1, h2, h3, h4, h5, h6 {
        border-bottom: 1px solid base.$bg-primary-light;
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        padding: 0;
    }
}


/* Footer */
footer p {
    font-size: 16px;
}

footer {
    text-align: center;
}


/* Other */
.debug-border {
    border: 1px solid red;
}