/* SCSS HEX */
$primary: #49a0d8;
$primary-light: #71b2da;
$primary-dark: #2276aa;
$primary-ultradark: #0d4466;
$bg-primary: #242527;
$bg-primary-light: #3f484d;
$bg-primary-dark: #151516;
$text-primary: #eee;
$text-primary-light: #ffffff;
$text-primary-dark: #aaaaaa;
$secondary: #ee6352;
$complementary: #d88049;

$marian-blue: #303c8d;
$steel-blue: #3F79BBff;
$celestial-blue: #4591CDff;
$wisteria: #cd98e3;